/* 공통 디자인 common.css */
/* header . footer */
body {}
#wrap {}
#wrap header {
    background-color: rgba(0, 0, 0, 0.9);
    height: 70px;
    padding: 0 80px;
    min-width:1220px;
    display: flex;
    justify-content:space-between;
    flex-flow: row nowrap;
    align-items: center;
    position: fixed; left: 0; right: 0; z-index: 999; width: 999; /* 좌표 꼭 써야함. */
}
#wrap header h1 {}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header #gnb {}
#wrap header #gnb .lnb_depth1 {
    display: flex;
    flex-flow: row nowrap; gap: 20px;
}
#wrap header #gnb .lnb_depth1 a:hover {font-weight: 600 !important;}
#wrap header #gnb .lnb_depth1 > li {position: relative;} /* 첫번째 서브 기준 */
#wrap header #gnb .lnb_depth1 > li:hover .lnb_depth2  {display: block;} /* gnb에 커서 올렸을 때 뎁스2 나옴. */
#wrap header #gnb .lnb_depth1 > li > a {
    color: #fff;
    line-height: 70px;
    display: block;
} /* 20 */
#wrap header #gnb .lnb_depth1 > li > .lnb_depth2 {
    background-color: #F1F1F1;
    position: absolute;
    width: 160px;
    left: 50%; transform: translateX(-50%); /* absolute 부모 x축 정중앙  (이 한줄은 한 몸이라고 생각하셈)*/
    display: none;
}
#wrap header #gnb .lnb_depth1 > li > .lnb_depth2 > li {border-bottom: 1px solid #fff;}
#wrap header #gnb .lnb_depth1 > li > .lnb_depth2 > li:hover .lnb_depth3 {display: block;}
#wrap header #gnb .lnb_depth1 > li > .lnb_depth2 > li > a {
    color:#000;
    display: block;
    line-height: 46px;
    text-align: center;
}
#wrap header #gnb .lnb_depth1 > li > .lnb_depth2 > li > .lnb_depth3 {
    background-color: #DCDCDC;
    display: none;
}
#wrap header #gnb .lnb_depth1 > li > .lnb_depth2 > li > .lnb_depth3  li {border-bottom: 1px solid #fff;}
#wrap header #gnb .lnb_depth1 > li > .lnb_depth2 > li > .lnb_depth3  li  a {
    line-height: 46px;
    text-align: center;
    display: block;
}
/* ========================================== main footer ============================= */
#wrap footer {}
#wrap footer p {}

/* ------------------------------------------main w1220+p70 공통 디자인 값------------------------------- */
#wrap main .container_layout {
    width: 1220px; margin: 0 auto; padding: 70px;
}
#wrap main .container_layout h1 {
    font-size: 1.5rem; font-weight: 500;
    margin-bottom: 30px;
}
#wrap main .container_layout h1+p {
    font-size: 0.94rem;
    line-height: 1.7rem;
    margin-bottom: 30px;
    word-spacing: 0;
}
/* 공통 디자인 값 주기 */